* {
  box-sizing: border-box;
  margin: 0 auto;
}

html {
  background-color: beige;
}

body {
  padding: 4em;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
}
